In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from datetime import date

In [2]:
date = date.today().strftime("%m%d%y")
AL_East = pd.DataFrame()
url = "https://www.baseball-reference.com/leagues/AL/2020.shtml"
html = urlopen(url)
soup = BeautifulSoup(html)

headers = ["Team", "Wins", "Loses", "Win%", "GB"]
html_headers = ["W", "L", "win_loss_perc", "games_back"]
AL_East = pd.DataFrame(columns= headers)
AL_East

Empty DataFrame
Columns: [Team, Wins, Loses, Win%, GB]
Index: []

In [3]:
table = soup.find("table", {"id":"standings_E"})

AL_East.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
AL_East.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
AL_East.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
AL_East.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_East.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_East.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
AL_East.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
AL_East.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
AL_East.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_East.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_East.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
AL_East.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
AL_East.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
AL_East.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_East.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_East.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
AL_East.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
AL_East.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
AL_East.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_East.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_East.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
AL_East.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
AL_East.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
AL_East.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_East.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_East

                Team Wins Loses  Win%    GB
0     Tampa Bay Rays   28    15  .651    --
1  Toronto Blue Jays   24    18  .571   3.5
2   New York Yankees   21    21  .500   6.5
3  Baltimore Orioles   20    21  .488   7.0
4     Boston Red Sox   15    29  .341  13.5

In [4]:
AL_Central = pd.DataFrame(columns= headers)

table = soup.find("table", {"id":"standings_C"})

AL_Central.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
AL_Central.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
AL_Central.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
AL_Central.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_Central.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_Central.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
AL_Central.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
AL_Central.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
AL_Central.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_Central.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_Central.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
AL_Central.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
AL_Central.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
AL_Central.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_Central.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_Central.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
AL_Central.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
AL_Central.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
AL_Central.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_Central.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_Central.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
AL_Central.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
AL_Central.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
AL_Central.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_Central.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_Central

                 Team Wins Loses  Win%    GB
0   Chicago White Sox   26    16  .619    --
1   Cleveland Indians   26    16  .619    --
2     Minnesota Twins   27    18  .600   0.5
3      Detroit Tigers   19    21  .475   6.0
4  Kansas City Royals   15    28  .349  11.5

In [5]:
AL_West = pd.DataFrame(columns= headers)

table = soup.find("table", {"id":"standings_W"})

AL_West.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
AL_West.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
AL_West.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
AL_West.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_West.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_West.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
AL_West.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
AL_West.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
AL_West.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_West.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_West.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
AL_West.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
AL_West.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
AL_West.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_West.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_West.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
AL_West.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
AL_West.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
AL_West.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_West.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_West.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
AL_West.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
AL_West.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
AL_West.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
AL_West.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

AL_West

                 Team Wins Loses  Win%    GB
0   Oakland Athletics   25    15  .625    --
1      Houston Astros   22    21  .512   4.5
2    Seattle Mariners   19    23  .452   7.0
3  Los Angeles Angels   17    26  .395   9.5
4       Texas Rangers   14    27  .341  11.5

In [6]:
AL_East.to_csv("AL_East."+date+".csv")
AL_Central.to_csv("AL_Central."+date+".csv")
AL_West.to_csv("AL_West."+date+".csv")

In [7]:
url = "https://www.baseball-reference.com/leagues/NL/2020.shtml"
html = urlopen(url)
soup = BeautifulSoup(html)

table = soup.find("table", {"id":"standings_E"})

NL_East = pd.DataFrame(columns= headers)

NL_East.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
NL_East.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
NL_East.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
NL_East.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_East.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_East.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
NL_East.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
NL_East.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
NL_East.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_East.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_East.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
NL_East.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
NL_East.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
NL_East.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_East.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_East.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
NL_East.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
NL_East.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
NL_East.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_East.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_East.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
NL_East.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
NL_East.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
NL_East.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_East.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_East

                    Team Wins Loses  Win%   GB
0         Atlanta Braves   24    18  .571   --
1  Philadelphia Phillies   21    18  .538  1.5
2          Miami Marlins   19    18  .514  2.5
3          New York Mets   19    24  .442  5.5
4   Washington Nationals   16    25  .390  7.5

In [8]:
NL_Central = pd.DataFrame(columns= headers)

table = soup.find("table", {"id":"standings_C"})

NL_Central.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
NL_Central.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
NL_Central.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
NL_Central.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_Central.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_Central.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
NL_Central.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
NL_Central.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
NL_Central.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_Central.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_Central.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
NL_Central.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
NL_Central.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
NL_Central.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_Central.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_Central.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
NL_Central.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
NL_Central.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
NL_Central.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_Central.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_Central.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
NL_Central.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
NL_Central.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
NL_Central.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_Central.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_Central

                  Team Wins Loses  Win%   GB
0         Chicago Cubs   25    18  .581   --
1  St. Louis Cardinals   18    17  .514  3.0
2    Milwaukee Brewers   18    22  .450  5.5
3      Cincinnati Reds   18    24  .429  6.5
4   Pittsburgh Pirates   14    26  .350  9.5

In [9]:
NL_West = pd.DataFrame(columns= headers)

table = soup.find("table", {"id":"standings_W"})

NL_West.at[0, "Team"] = table.find_all("tr")[1].th["csk"]
NL_West.at[0, "Wins"] = table.find_all("tr")[1].find("td",{"data-stat":"W"}).get_text()
NL_West.at[0, "Loses"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"L"}).get_text()
NL_West.at[0, "Win%"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_West.at[0, "GB"] = table.find_all("tr")[1].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_West.at[1, "Team"] = table.find_all("tr")[2].th["csk"]
NL_West.at[1, "Wins"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"W"}).get_text()
NL_West.at[1, "Loses"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"L"}).get_text()
NL_West.at[1, "Win%"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_West.at[1, "GB"] = table.find_all("tr")[2].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_West.at[2, "Team"] = table.find_all("tr")[3].th["csk"]
NL_West.at[2, "Wins"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"W"}).get_text()
NL_West.at[2, "Loses"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"L"}).get_text()
NL_West.at[2, "Win%"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_West.at[2, "GB"] = table.find_all("tr")[3].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_West.at[3, "Team"] = table.find_all("tr")[4].th["csk"]
NL_West.at[3, "Wins"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"W"}).get_text()
NL_West.at[3, "Loses"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"L"}).get_text()
NL_West.at[3, "Win%"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_West.at[3, "GB"] = table.find_all("tr")[4].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_West.at[4, "Team"] = table.find_all("tr")[5].th["csk"]
NL_West.at[4, "Wins"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"W"}).get_text()
NL_West.at[4, "Loses"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"L"}).get_text()
NL_West.at[4, "Win%"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"win_loss_perc"}).get_text()
NL_West.at[4, "GB"] = table.find_all("tr")[5].find("td",attrs={"data-stat":"games_back"}).get_text()

NL_West

                   Team Wins Loses  Win%    GB
0   Los Angeles Dodgers   31    12  .721    --
1      San Diego Padres   27    17  .614   4.5
2  San Francisco Giants   22    21  .512   9.0
3      Colorado Rockies   20    22  .476  10.5
4  Arizona Diamondbacks   15    28  .349  16.0

In [10]:
NL_East.to_csv("NL_East."+date+".csv")
NL_Central.to_csv("NL_Central."+date+".csv")
NL_West.to_csv("NL_West."+date+".csv")